// COLORS
$color-first: brown;
$color-second: blue;
$color-third: burlywood;
$color-white: white;
$color-grey: grey;
$color-yellow: yellow;
$color-light-brown: rgb(247, 100, 100);
$color-black: black;

// GRIDS
$grid-width: 95rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 5rem;
