.card-header {
  color: rgb(249, 250, 250);
}
.card-body {
  background-color: brown;
  color: beige;
}
.alert {
  background-color: rgb(32, 29, 29);
  color: rgb(253, 245, 245);
}
body {
  background-color: rgb(100, 95, 95);
}
